<link rel="stylesheet" href="./css/admin.css"></link>
 <div>
    <a href="/login">Log Out</a>
  <button><a href="admin/search">Advanced Search</a></button>
  <button><a href="admin/addcar">Add  Car</a></button>
  <button><a href="admin/modify">Modify Car Status</a></button>
  <button>Show Reservations</button>
  <button><a href="admin/reports">Show Reports</a> </button>
 </div>