<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car renting system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<form id="login-form" method="POST" action="api/v1/user">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>

      <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="role" id="admin" value="admin" autocomplete="off" required>Admin
      </label>

      <label class="btn btn-primary">
        <input type="radio" name="role" id="user" value="user" autocomplete="off" required>User
      </label>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary" id="login-button">Submit</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/index.js"></script>
</body>
</html>