<link rel="stylesheet" href="../css/reports.css"></link>
 <div>
 
  <button><a href="/admin/reports/report1">Report 1</a></button>
  <button><a href="/admin/reports/report2">Report 2</a></button>
  <button><a href="/admin/reports/report3">Report 3</a></button>
  <button><a href="/admin/reports/report4">Report 4</a></button>
  <button><a href="/admin/reports/report5">Report 5</a></button>
 
 </div>